In [1]:
import numpy as np
import pandas as pd
from sklearn import datasets
from sklearn.model_selection import train_test_split

In [2]:
spam_data = pd.read_csv("spam.csv")

In [3]:
spam_data

                                                   text target
0     Go until jurong point, crazy.. Available only ...    ham
1                         Ok lar... Joking wif u oni...    ham
2     Free entry in 2 a wkly comp to win FA Cup fina...   spam
3     U dun say so early hor... U c already then say...    ham
4     Nah I don't think he goes to usf, he lives aro...    ham
...                                                 ...    ...
5567  This is the 2nd time we have tried 2 contact u...   spam
5568              Will Ì_ b going to esplanade fr home?    ham
5569  Pity, * was in mood for that. So...any other s...    ham
5570  The guy did some bitching but I acted like i'd...    ham
5571                         Rofl. Its true to its name    ham

[5572 rows x 2 columns]

In [4]:
#Check for duplicates and remove them
spam_data.drop_duplicates(inplace=True)
print(spam_data.shape)

(5169, 2)

In [5]:
spam_data.isnull().sum()

text      0
target    0
dtype: int64

In [6]:
spam_data["target"] = np.where(spam_data["target"] == "spam",1,0)
spam_data

                                                   text  target
0     Go until jurong point, crazy.. Available only ...       0
1                         Ok lar... Joking wif u oni...       0
2     Free entry in 2 a wkly comp to win FA Cup fina...       1
3     U dun say so early hor... U c already then say...       0
4     Nah I don't think he goes to usf, he lives aro...       0
...                                                 ...     ...
5567  This is the 2nd time we have tried 2 contact u...       1
5568              Will Ì_ b going to esplanade fr home?       0
5569  Pity, * was in mood for that. So...any other s...       0
5570  The guy did some bitching but I acted like i'd...       0
5571                         Rofl. Its true to its name       0

[5169 rows x 2 columns]

In [7]:
x=spam_data["text"]
x

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will Ì_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: text, Length: 5169, dtype: object

In [8]:
y=spam_data["target"]
y

0       0
1       0
2       1
3       0
4       0
       ..
5567    1
5568    0
5569    0
5570    0
5571    0
Name: target, Length: 5169, dtype: int32

In [9]:
#Percentage of spam instances

len(spam_data[spam_data["target"] == 1])/len(spam_data) * 100

12.633004449603405

//chances of an email being a spam is just 12.63%

In [10]:
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=123)

In [11]:
from sklearn.feature_extraction.text import CountVectorizer

In [12]:
vec = CountVectorizer().fit(x_train)

features= np.array(vec.get_feature_names())
token_lengths = list(map(len,features))

In [13]:
print("Longest Token in the vocabulary is {}".format(features[np.argmax(token_lengths)]))

Longest Token in the vocabulary is hypotheticalhuagauahahuagahyuhagga

# Naive Bayes import

In [14]:
from sklearn.naive_bayes import MultinomialNB

In [15]:
vec=CountVectorizer().fit(x)

In [16]:
x_vec= vec.transform(x)

In [17]:
x_vec.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [18]:
x_train,x_test,y_train,y_test = train_test_split(x_vec,y,random_state=123)

In [19]:
model = MultinomialNB()

In [20]:
model.fit(x_train,y_train)

MultinomialNB()

In [21]:
predictions = model.predict(x_test)

In [22]:
predictions

array([1, 0, 1, ..., 0, 1, 0])

In [23]:
from sklearn.metrics import accuracy_score

In [24]:
accuracy_score(predictions,y_test)

0.9845320959010054

//My model is 98.45% accurate to check wheteher an email is a spam or not.